.container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.image{
  object-fit: cover;
}

.content {
  background-color: antiquewhite;
  width: 100%;
  padding: 30px;
  border-radius: 30px;
}

.title{
  margin-bottom: 10px;
}

.desc{
  font-size: 18px;
  color: #999;
}